.container {
    display: flex;
}

.red-box {
    width: 100px;
    height: 100px;
    background-color: red;
}

.blue-box {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.yellow-box {
    width: 100px;
    height: 100px;
    background-color: yellow;
}